*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: #3a4452;
}
.screen{
    width: 260px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    color: rgb(0, 255, 4);
    background: transparent;
    border: hidden;
    text-align: right;
    font-weight: bolder;
    font-size: x-large;
}

.screen::placeholder{
    text-align: center;
    margin: auto;
    letter-spacing: 8PX;
    color:#434f5f
    /* background: -webkit-linear-gradient(rgb(0, 255, 0), rgb(0, 36, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.container{
    border: .2px solid rgb(0, 255, 81);
    width: 350px;
    padding: 2px;
    height: 500px;
    background:linear-gradient(45deg,#0a0a0a,#3a4452);
    box-shadow: 0px 0px 5px rgb(9, 255, 0);
    position: relative;
    border-radius: 10px;
    margin: auto;
    top: 50px;
}
.button{
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    color: white;
    box-shadow: 1px 1px 10px #6c6c6c;
    font-size: large;
    font-weight: bolder;
    position:relative;
    color: rgb(0, 255, 0);
    box-shadow: 0px 0px 7px rgb(0, 255, 0);
}
.button:hover{
    color: rgb(0, 157, 255);
    box-shadow: 0px 0px 10px rgb(0, 157, 255);
}
.row{
    margin: auto;
    text-align: center;
}
.buttac,.buttdel{
    color: yellow;
    box-shadow: 0px 0px 5px yellow;
}
.butt1,.butt2,.butt3,.butt4,.butt5,.butt6{
    color: rgb(0, 255, 170);
    box-shadow: 0px 0px 5px rgb(0, 255, 170);
}